/* Navbar */
.custom-nav {
    display: flex;
    justify-content: end;
    gap: 15px; 
  }
  
  .gradient-background {
    background: linear-gradient(to right, #ff4eb5, #ffd7f2);      
    min-height: 10rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    margin: 1rem;
}
  
  
  .custom-nav .nav-link {
    color: #ffffff;
    padding: 10px;
    float: right;
    padding-right: 16px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
.custom-nav .nav-link:hover {
    background-color: #fa0694; 
    color: #ffffff; 
    border-radius: 1rem;
    align-items: center;
}


.custom-nav .nav-link.active {
    font-weight: bold;
    color: #ff4eb5; 
}